{% extends 'layout.html' %}

{% block content %}

  <div class="rides">
    <ul>
      {% for ride in rides %}
      <li>
        <div class="left">
          {{ ride.date }} <br>
          <span class="ride-title">{{ ride.title }}</span><br>
        </div>
        <div class="right">
          <!-- Add jQuery magic here! -->
          <a class="fs-btn-underlined" href="{{ride.nyccurl}}">Sign up!</a>
          <!-- <a class="" href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a> -->
          <!-- <a class="info-circle" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a> -->
          <a class="fs-btn-underlined info" href="#">Info</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
