{% extends 'layout.html' %}

{% block content %}

<div class="step">

  <div class="title">
    <h3>{{ content.header }}</h3>
  </div>

  
  <img src="{{content.imageUrl}}" alt="">
  <div class="brief">
    <ul>
      {% for step in content.brief %}
        <li>{{ step }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="full">
    {% for i in content.full %}
      {% if i.type == 'para' %}
        <p>{{ i.text }}</p>
      {% else %}
        <ul><li>{{ i.text }}</li></ul>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="page-nav">
  <a class="fs-btn-default left" {%if ((num*1) - 1 ) < 0 %} href="/steps/0" {% else %} href="/steps/{{ ((num*1) - 1 ) }}" {% endif %}>Prev</a>
  {% if content.full != '' %}<a class="fs-btn-default fs-btn-underlined details" href="#">Details</a>{% endif %}
  <a class="fs-btn-default right" {%if ((num*1) + 1 ) >= numPages.length %} href="/steps/{{ numPages.length - 1 }}" {% else %} href="/steps/{{ ((num*1) + 1 ) }}" {% endif %}>Next</a>
</div>

<div class="page-nums">
  {% for i in numPages %}
    <a class="fs-btn-default" href="/steps/{{ i }}">{{ i + 1 }}</a>
  {% endfor %}
</div>
{% endblock %}
