/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

html { font-size: 16px }
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

h1 { font-size: 3em }
h2 { font-size: 2.3em; }
h3 { font-size: 1.8em; line-height: 1.1em }
h4 { font-size: 1.2em }

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

a, a:hover,
a:visited, a:focus {
  text-decoration: none;
}

.content,
header {
  padding: 3%;
}

header {
  text-align: center;
  background-color: #85144b;
  color: #fff;
}
header .site-title {
  margin-bottom: 30px;
}
header .site-title h1 {
  margin-bottom: 7px;
}

.content {
  padding-top: 1%;
  max-width: 900px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: center;
}
nav li {
  display: inline-block;
}

.fs-btn-default {
  padding: 10px;
  border: solid 0.1em #111111;
  border-radius: 3px;
  margin: 2px;
  font-weight: bold;
  color: #000;
}
.fs-btn-rounded {
  border-radius: 5em;
  padding-left: 1em;
  padding-right: 1em;
}
.fs-btn-underlined {
  border: 0;
  border-radius: 0;
  padding-bottom: 2px;
  border-bottom: solid 0.1em #000;
  color: #000;
}
.fs-btn-squared {
  border-radius: 0;
}
.fs-btn-filled {
  border-color: #111111;
  background-color: #111111;
  color: #fff;
}
.fs-btn-inverse {
  color: #fff;
  border-color: #fff;
}
.fs-icon {
  color: #000;
}
.rides .fs-icon {
  margin: 0;
}
.rides .fs-icon i {
  font-size: 1em;
}


.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.step h2, h3 {
  text-align: center;
}
.step img {
  max-width: 100%;
}
.step ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 1em;
  margin: 0;
}

.page-nav {
  display: flex;
  justify-content: space-between;
}
.page-nums {
  display: flex;
  justify-content: center;
}
.page-nums a {
  margin-right: 1px;
}
.page-nums a:first-child {
  margin-left: 0;
}

.step *,
.content * {
  margin: 10px;
}

.rides {
  /*background-color: #DDDDDD;*/
  margin: 0;
}
.rides ul {
  list-style-type: none;
  margin: 0;
}
.rides li {
  padding: 4%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #DDDDDD;
  border-bottom: solid 1px hsl(0, 0%, 75%);
  margin-bottom: 10px;
}
.rides li .right {
  text-align: right;
  line-height: 1.5em;
}
.ride-title {
  display: inline-block;
  font-weight: bold;
  margin-left: 0;
  margin-top: 0.5em;
}


footer {
  min-height: 200px;
  background-color: #111111;
}


@media screen and (max-width: 699px) {
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 450px) {
  header {
    padding: 4%;
  }
  .rides li .right,
  .rides li.left {
    margin: 0;
  }
  .rides li .right a {
    display: block;
    line-height: 1em;
  }
}

@media screen and (max-width: 300px) {
  .content {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
