/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

html { font-size: 16px }
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
}

h1 { font-size: 3em }
h2 { font-size: 2.3em; }
h3 { font-size: 1.8em; line-height: 1.1em }
h4 { font-size: 1.2em }

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.step ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 1em;
}

.content,
header {
  padding: 10%;
}

header {
  padding-bottom: 0;
  text-align: center;
}
header .site-title {
  margin-bottom: 30px;
}
header .site-title h1 {
  margin-bottom: 7px;
}

.content {
  padding-top: 5%;
}

nav {
  display: flex;
  justify-content: center;
}
nav li {
  display: inline-block;
}

.fs-btn-default,
.fs-btn-rounded {
  padding: 10px;
  border: solid .15em #001f3f;
  border-radius: 5px;
  margin: 2px;
  font-weight: bold;
}
.fs-btn-rounded {
  border-radius: 5em;
  padding-left: 1em;
  padding-right: 1em;
}
.fs-btn-underlined {
  border: 0;
  border-radius: 0;
  padding-bottom: 2px;
  border-bottom: solid 2px #000;
}
.fs-btn-squared {
  border-radius: 0;
}
.fs-btn-filled {
  border-color: #7FDBFF;
  background-color: #7FDBFF;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.step h2, h3 {
  text-align: center;
}
.step img {
  max-width: 100%;
}

a, a:hover,
a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

.step *,
.content * {
  margin: 10px;
}

.rides {
  background-color: #DDDDDD;
  padding: 2%;
}
.rides ul {
  list-style-type: none;
}
.rides li {
  display: flex;
  justify-content: space-between;
}
.ride-title {
  display: inline-block;
  font-weight: bold;
  margin-left: 0;
  margin-top: 0.5em;
}


footer {
  min-height: 200px;
  background-color: #001f3f;
}



@media screen and (max-width: 699px) {
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 300px) {
  .content {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
